.navbar {
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

body {
    background-color: #F1F1F1;
}

.navbar-brand {
    height: auto;
}

#yt-logo {
    background-image: url("yt-sprite.webp");
    background-position: -337px -369px;
    background-size: 435px 425px;
    width: 73.5px;
    height: 30px;
    margin-left: 30px;
    /*padding-left: 30px;*/
    display: inline-block;
}
